//стилизая scrollbar
%scrollbarStyling {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: $secondary-opacity-30;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $active;
  }
}
