// admin page

.admin {
  padding: 35px 17px;
  &__h4 {
    margin-bottom: 25px;
  }
}
.adminSettings {
  display: flex;
  justify-content: space-between;
  & .block {
    display: flex;
    gap: 30px;
  }
  &__search {
    display: flex;
    align-items: center;
    gap: 14px;
    &-input {
      appearance: none;
      position: relative;

      min-width: 200px;
      height: 30px;

      padding: 8px 9px;

      background: #fff;
      border-radius: 4px;
      border: 1px solid $border-light;
      overflow: hidden;
      &:focus {
        outline: none;
      }
    }
  }
}
