// PAGINATION
.pagination {
  margin-top: 70px;

  display: flex;
  justify-content: center;
}
.page {
  display: flex;
  align-items: center;
  gap: 16px;

  &__icon {
    cursor: pointer;
    @media (hover: hover) {
      &:hover svg path {
        fill: $activ-primary;
      }
    }
  }

  &__item {
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        color: $activ-primary;

        & svg path {
          fill: $activ-primary;
        }
      }
    }
  }

  &__next {
    transform: rotate(180deg);
  }
  &__item--activ {
    padding: 9px 15px;

    display: flex;
    align-items: center;
    gap: 4px;

    background-color: $white;
    border-radius: 17px;

    & span {
      display: flex;
    }
  }
  li {
    @include fonts(700, 16px);
  }

  &__ellipsis {
    cursor: default;
  }
}
