// FILTER TYPE
.filterType {
  margin-top: 0;
  width: 112px;

  &__button {
    padding: 5px 12px;

    justify-content: flex-start;
    gap: 8px;

    &-select {
      @include fonts(400, 12px, $disabled);
      margin-top: 2px;
    }
  }
}
