table {
  min-width: 100%;

  border-collapse: separate;
  border-spacing: 0 6px;
}
tbody {
  & tr {
    position: relative;
    height: 36px;
  }
}

th {
  @include fonts(700);
  position: relative;

  border-right: 1px solid $table-border;

  & .headerCell {
    min-width: 59px;

    padding: 4px;

    display: inline-flex;
    align-items: center;
    gap: 11px;

    border-radius: 4px;

    cursor: pointer;
    @media (hover: hover) {
      & svg:hover {
        & path {
          fill: $activ-primary;
        }
      }
      &:hover {
        background-color: $table-accent;

        & .icon-pin {
          display: flex;
        }
      }
    }
  }
}

th,
td {
  height: 36px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}
th {
  padding: 0 6px;
}
td {
  padding: 0 10px;
  overflow: hidden;
}

// Иконки
.icon-pin,
.icon-search {
  display: flex;
}
.icon-pin--disabled {
  display: none;
}

.icon-arrow {
  margin: 0;
}
