.alert {
  margin-left: -12px;
  padding: 9.5px 12px;

  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 12px;

  border-radius: 4px;

  &__date {
    color: $disabled;
  }

  &__message {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      @include fonts(700);
    }
  }
  &--error {
    background-color: $danger-background;
    & span {
      color: $danger-hover;
    }
  }
  &--warning {
    background-color: $warning-background;
    & span {
      color: $warning-hover;
    }
  }
}
