.badgeС {
  @include fonts(400, 16px);
  padding: 6px 12px;
  text-align: center;

  border-radius: 8px;

  &--agent {
    color: $agent-text;
    background-color: $agent-background;
  }
  &--client {
    color: $client-text;
    background-color: $client-background;
  }
}
