.download-add-user {
  width: 100%;

  margin: 15px 0;

  display: flex;

  &__button {
    width: 618px;

    margin: 0 auto;
    padding: 4.5px;

    border: 1px solid $gray-medium;
    border-radius: 4px;
    background-color: #fff;

    cursor: pointer;
  }
}
