// стили переопределения DROPDOWN
.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  @include fonts();
  padding: 0;
}

.dropdown-item:hover,
.dropdown-item:active {
  color: inherit;

  background-color: inherit;
}

.btn-group-vertical > .btn:hover,
.btn-group > .btn:hover {
  z-index: 1001;
}

// DROPDOWN
.dropdown {
  position: relative;

  width: 100%;
  min-height: 30px;

  display: flex;
  flex-direction: column;

  &--icon {
    min-height: 5px;
  }
  &--chart-time {
    width: 150px;
    min-height: auto;
    margin-left: 10px;
    padding: 0;
    display: none;
  }

  &__toggle {
    @include fonts(400);

    width: 100%;
    height: 100%;

    padding: 1px 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    background-color: $white !important;
    border: 1px solid $gray-medium !important;
    border-radius: 4px;
    box-shadow: inherit !important;

    color: $secondary !important;

    cursor: pointer;

    &--filte-type {
      width: 110px;
    }

    &--count-log {
      min-width: 90px;
      font-weight: 400;
    }

    &--icon {
      width: auto;

      padding: 0;

      font-size: 0px;
      line-height: 0;
      background-color: inherit !important;

      border: none !important;
    }
    &--chart-time {
      padding: 0;

      border: none !important;
      font-weight: 400;
    }
  }

  &__toggle-title {
    @include fonts(700);

    display: flex;
    gap: 10px;

    &--count-log {
      @include fonts(400);
    }

    &--chart-time {
      @include fonts(400);
    }
  }

  &__toggle-select {
    @include fonts(400, 12px);

    color: $disabled !important;

    margin-top: 2px;
  }

  &__menu {
    min-width: 100%;

    margin: 0 !important;
    padding: 0;

    overflow: hidden;

    &--chart-filter {
      @extend %scrollbarStyling-Y;

      width: 130px;
      height: 126px;

      // padding-right: calc(4px + 1rem);

      border: none;
      overflow-y: scroll;
      scrollbar-gutter: stable;
    }
    &--icon {
      z-index: 1001;

      margin-top: 14px !important;

      border: none;
    }

    &--chart-time {
      z-index: 1001;
      border: none !important;
      border-radius: 0 0 4px 4px;
    }

    &--search-filter {
      @extend %scrollbarStyling-Y;
      z-index: 1001;

      width: 275px;
      height: 126px;

      border: none;
      overflow-y: scroll;
    }
  }

  &__item {
    @include fonts(400, 14px, $secondary);

    padding: 8px 12px;

    cursor: pointer;

    &--chart-filter {
      @include fonts(400);

      padding: 0px;

      cursor: default;
      @media (hover: hover) {
        &:hover {
          @include fonts(700);

          background-color: $blue-light;
        }
      }
    }
    &--chart-time {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &--search-filter {
      padding: 0;
    }
    @media (hover: hover) {
      &:hover {
        color: $secondary;

        background-color: $blue-light;
      }
    }
  }

  &__item-check {
    appearance: none;
    position: relative;

    width: 24px;
    height: 24px;

    margin-right: 17px;

    background: #fff;
    border-radius: 4px;
    border: 1px solid $gray-dark;

    cursor: pointer;

    overflow: hidden;

    &::after {
      position: absolute;
      content: "";

      width: 0px;
      height: 0px;

      background-color: $active;
      background-image: url("../img/icon/checkmark.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
    }

    &:checked {
      border: none;

      &::after {
        width: 24px;
        height: 24px;
      }
    }

    &:disabled {
      border: 1px solid $secondary;
      opacity: 0.3;
    }
  }

  &__item-label {
    padding: 9px 12px;

    display: flex;
    align-items: center;

    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        @include fonts(700);

        background-color: $blue-light;
      }
    }
  }

  &__icon-arrow {
    transition: transform 0.3s;
  }
  &__icon-filter {
    display: flex;
    align-items: center;
  }
}

.dropdown__item--chart .dropdown-item:hover {
  background-color: inherit;
  cursor: default;
}

.show .dropdown__icon-arrow {
  transform: rotate(180deg);
}

.dropdown--chart-time .dropdown__icon-arrow {
  transform: rotate(0deg);
}

.dropdown--chart-time.show .dropdown__icon-arrow {
  transform: rotate(180deg);
}
