.log-message {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__date {
    color: $disabled;
  }

  &__block {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 12px;
  }

  &__text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      @include fonts(700);
    }
  }
}
