// modalWindowLog
.modal {
  padding: 63px 47px !important;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
}

.modal-dialog {
  max-width: 100%;
  margin: 0 !important;
}

.modal-body {
  padding: 0;
}

.modal-content {
  border: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, 0px);
  transform: translate(0, 0px);
}

.modal-window-log {
  position: relative;

  width: 100%;
  max-height: 642px;

  display: grid;
  grid-template-columns: 220px 1fr;

  &--disabled {
    display: none;
  }

  &__close {
    position: absolute;
    top: 14px;
    right: 18px;

    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 12px;
    background-color: $brown-dark;

    cursor: pointer;
  }

  &__container {
  }
  &__l-side {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: $secondary;
  }

  &__r-side {
    @extend %scrollbarStyling-Y;

    max-height: 642px;

    padding: 16px 20px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    background-color: #fff;

    overflow-y: auto;
  }
}

.log-status {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__date {
    color: rgba(255, 255, 255, 0.4);
  }

  &__badge {
    width: 96px;

    padding: 1.5px 33px;
    border-radius: 10px;

    color: $white;
    line-height: 17px;
    text-align: center;
    background-color: $active;

    &--warning {
      background-color: $warning;
    }

    &--error {
      background-color: $danger;
    }
  }
  &__details {
    @include fonts(400, 14px, $white);
  }
  &__id {
    @include fonts(700, $color: $white);
  }
  &__message {
    color: $white;
  }
  &__time {
    color: $active;
  }
}

.info-user {
  display: flex;
  flex-direction: column;
  gap: 11px;

  &__title {
    color: $white;
    margin-bottom: 1px;
  }

  &__text {
    color: $active;
    text-decoration: underline;

    &--no-active {
      color: #fff;
      text-decoration: none;
    }
  }

  &__block {
    display: flex;
    gap: 8px;
  }
  &__btn-page {
    height: 16px;
    padding: 4px 10px;
    display: flex;
  }
}
