.log {
  width: 100vw !important;
}
.tableC {
  &__fixed {
    position: relative;
    transform: translateX(0);

    & .tableC__column {
      &:first-child::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);

        height: 18px;
        width: 0;

        background-color: $gray-light;
      }
    }
  }

  &__block-scroll {
    @extend %scrollbarStyling-X-mobile;

    flex: 1;
  }
  &__column-cell {
    width: 100%;
    height: 100%;
  }

  &__line-cell {
    &--activ {
      background-color: inherit;
    }

    &--status {
      max-width: 6px;
    }
  }
}
