$main: #293553;
$main30: rgba(41, 53, 83, 0.3);
$secondaryBlueberry: #dfe4f2;
$button: #3498db;
$neutral: rgb(41, 53, 83, 0.25);
$neutral60: rgb(61, 61, 75, 0.6);
$focus: #dfeffa;
$accent: #0f90e9;

//статус ошибок
$warning: #fff1dc;
$status-warning: #ffad0e;
$error: #ffe6e6;
$status-error: #f21411;
$text-error: #b70c0a;

//Клиенты
$agent-text: #7e78f8;
$agent-back: #ecebfe;
$client-text: #0f90e9;
$client-back: #e2f4ff;

$border-table: rgba(0, 0, 0, 0.2);
$accent-table: #dedee4;

$checkbox: #8b8b93;

$borderFooterBtn: #c9ccd4;
