@import "color";
@import "fonts";

// admin page
.userTable {
  box-sizing: content-box;

  margin-top: 15px;
  padding-right: 3px;

  overflow-x: auto;

  //стилизая scrollbar
  &::-webkit-scrollbar {
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: $main30;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $main;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $accent;
  }
}

.admin {
  padding: 35px 17px;
  &__h4 {
    margin-bottom: 25px;
  }
}
.adminSettings {
  display: flex;
  justify-content: space-between;
  & .block {
    display: flex;
    gap: 30px;
  }
  &__search {
    display: flex;
    align-items: center;
    gap: 14px;
    & p {
      @include ProximaNovaRegular14Primary;
    }
    &__input {
      appearance: none;
      position: relative;

      min-width: 200px;
      height: 30px;

      padding: 8px 9px;

      background: #fff;
      border-radius: 4px;
      border: 1px solid $neutral;
      overflow: hidden;
      &:focus {
        outline: none;
      }

      &::-webkit-input-placeholder {
        color: $neutral;
      }
      &:-moz-placeholder {
        color: $neutral;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: $neutral;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: $neutral;
      }
      &::-ms-input-placeholder {
        color: $neutral;
      }
      &::placeholder {
        color: $neutral;
      }
    }
  }
}
.userTable {
  width: 100%;
}
.userTable__domain__info {
  max-width: 695px;
  overflow: hidden;
}
.button__search {
  display: flex;
  align-items: center;
}
.button__delete {
  background-color: $status-error !important;

  transition: background-color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      background-color: #850a08 !important;

      transition: background-color 0.3s ease;
    }
  }
}
