// FOOTER
.footer {
  width: 100%;
  display: flex;

  margin: 15px 0;
}
.footer__addLog {
  @include ProximaNovaRegular14Primary;

  width: 618px;

  margin: 0 auto;
  padding: 4.5px;

  border: 1px solid $borderFooterBtn;
  border-radius: 4px;

  background-color: #fff;
  cursor: pointer;
}
