// HEADER
header {
  background-color: $primary;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 17px;
}

.navbar__links {
  display: flex;
  gap: 32px;
  & li {
    cursor: pointer;
    & a {
      @include fonts(700, 14px, $white);

      background: none;
      border: none;
    }
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 30px;
  & p {
    @include fonts(700, 14px, $white);
  }
}
