@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  background-color: #f4f4f5;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #f4f4f5;
  line-height: inherit;
}

body,
a,
li,
input {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
}

a {
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgba(41, 53, 83, 0.25);
}
input:focus {
  outline: none;
}

label {
  margin-bottom: 0;
}

.containerС {
  width: 1300px;
  margin: 0 auto;
}

.container-main {
  padding: 13px 17px;
}

.noScroll {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  color: rgb(41, 53, 83);
}

h2 {
  font-weight: 700;
  font-size: 26px;
  color: rgb(41, 53, 83);
}

h3 {
  font-weight: 700;
  font-size: 24px;
  color: rgb(41, 53, 83);
}

h4 {
  font-weight: 700;
  font-size: 20px;
  color: rgb(41, 53, 83);
}

h5 {
  font-weight: 700;
  font-size: 16px;
  color: rgb(41, 53, 83);
}

h6 {
  font-weight: 700;
  font-size: 12px;
  color: rgb(41, 53, 83);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: rgb(52, 152, 219);
  border: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.button {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
  position: relative;
  height: 30px;
  padding: 0 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button a {
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.button--primary {
  background-color: rgb(52, 152, 219);
  transition: background-color 0.3s ease;
}
.button--primary:focus {
  background-color: rgb(52, 152, 219);
  box-shadow: none;
}
@media (hover: hover) {
  .button--primary:hover {
    background-color: rgb(33, 114, 194);
  }
}
.button--secondary {
  background-color: rgb(41, 53, 83);
  transition: background-color 0.3s ease;
}
.button--secondary:focus {
  background-color: rgb(41, 53, 83);
  box-shadow: none;
}
@media (hover: hover) {
  .button--secondary:hover {
    background-color: rgb(26, 35, 57);
  }
}
.button--danger {
  background-color: rgb(242, 20, 17);
  transition: background-color 0.3s ease;
}
.button--danger:focus {
  background-color: rgb(242, 20, 17);
  box-shadow: none;
}
@media (hover: hover) {
  .button--danger:hover {
    background-color: rgb(183, 12, 10);
  }
}
.button--warning {
  background-color: rgb(255, 173, 14);
  transition: background-color 0.3s ease;
}
@media (hover: hover) {
  .button--warning:hover {
    background-color: rgb(247, 136, 32);
  }
}
.button__click--primary {
  animation: gradient--primary 200ms ease;
  background: rgb(29, 96, 163);
  color: rgb(255, 255, 255);
  box-shadow: none;
}
.button__click--secondary {
  animation: gradient--secondary 200ms ease;
  background: rgb(41, 53, 83);
  color: rgb(255, 255, 255);
  box-shadow: none;
}
.button__click--danger {
  animation: gradient--danger 200ms ease;
  background: rgb(142, 15, 13);
  color: rgb(255, 255, 255);
  box-shadow: none;
}
.button__click--warning {
  animation: gradient--warning 200ms ease;
  background: rgb(247, 153, 66);
  color: rgb(255, 255, 255);
  box-shadow: none;
}

@keyframes gradient--primary {
  0% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0) 0%, rgb(33, 114, 194) 0%, rgb(33, 114, 194) 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgb(29, 96, 163) 24%, rgb(33, 114, 194) 25%, rgb(33, 114, 194) 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgb(29, 96, 163) 49%, rgb(33, 114, 194) 50%, rgb(33, 114, 194) 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgb(29, 96, 163) 74%, rgb(33, 114, 194) 75%, rgb(33, 114, 194) 100%);
  }
  100% {
    color: rgb(255, 255, 255);
    background: radial-gradient(circle at center, rgb(29, 96, 163) 99%, rgb(33, 114, 194) 100%, rgb(33, 114, 194) 100%);
  }
}
@keyframes gradient--secondary {
  0% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0) 0%, rgb(26, 35, 57) 0%, rgb(26, 35, 57) 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgb(41, 53, 83) 24%, rgb(26, 35, 57) 25%, rgb(26, 35, 57) 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgb(41, 53, 83) 49%, rgb(26, 35, 57) 50%, rgb(26, 35, 57) 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgb(41, 53, 83) 74%, rgb(26, 35, 57) 75%, rgb(26, 35, 57) 100%);
  }
  100% {
    color: rgb(255, 255, 255);
    background: radial-gradient(circle at center, rgb(41, 53, 83) 99%, rgb(26, 35, 57) 100%, rgb(26, 35, 57) 100%);
  }
}
@keyframes gradient--danger {
  0% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0) 0%, rgb(183, 12, 10) 0%, rgb(183, 12, 10) 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgb(142, 15, 13) 24%, rgb(183, 12, 10) 25%, rgb(183, 12, 10) 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgb(142, 15, 13) 49%, rgb(183, 12, 10) 50%, rgb(183, 12, 10) 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgb(142, 15, 13) 74%, rgb(183, 12, 10) 75%, rgb(183, 12, 10) 100%);
  }
  100% {
    color: rgb(255, 255, 255);
    background: radial-gradient(circle at center, rgb(142, 15, 13) 99%, rgb(183, 12, 10) 100%, rgb(183, 12, 10) 100%);
  }
}
@keyframes gradient--warning {
  0% {
    background: radial-gradient(circle at center, rgba(255, 125, 125, 0) 0%, rgb(247, 136, 32) 0%, rgb(247, 136, 32) 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgb(247, 153, 66) 24%, rgb(247, 136, 32) 25%, rgb(247, 136, 32) 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgb(247, 153, 66) 49%, rgb(247, 136, 32) 50%, rgb(247, 136, 32) 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgb(247, 153, 66) 74%, rgb(247, 136, 32) 75%, rgb(247, 136, 32) 100%);
  }
  100% {
    color: rgb(255, 255, 255);
    background: radial-gradient(circle at center, rgb(247, 153, 66) 99%, rgb(247, 136, 32) 100%, rgb(247, 136, 32) 100%);
  }
}
.search-filter__input::-moz-placeholder, .pagination__input::-moz-placeholder, input::-moz-placeholder {
  color: rgba(41, 53, 83, 0.25);
  opacity: 1;
}
.search-filter__input::placeholder, .pagination__input::placeholder, input::placeholder {
  color: rgba(41, 53, 83, 0.25);
}

.modal-window-log__r-side::-webkit-scrollbar, .search-filter__menu::-webkit-scrollbar, .dropdown__menu--search-filter::-webkit-scrollbar, .dropdown__menu--chart-filter::-webkit-scrollbar {
  width: 4px;
}
.modal-window-log__r-side::-webkit-scrollbar-track, .search-filter__menu::-webkit-scrollbar-track, .dropdown__menu--search-filter::-webkit-scrollbar-track, .dropdown__menu--chart-filter::-webkit-scrollbar-track {
  background-color: rgba(41, 53, 83, 0.3);
  border-radius: 2px;
}
.modal-window-log__r-side::-webkit-scrollbar-thumb, .search-filter__menu::-webkit-scrollbar-thumb, .dropdown__menu--search-filter::-webkit-scrollbar-thumb, .dropdown__menu--chart-filter::-webkit-scrollbar-thumb {
  background-color: rgb(41, 53, 83);
  border-radius: 2px;
}
.modal-window-log__r-side::-webkit-scrollbar-thumb:hover, .search-filter__menu::-webkit-scrollbar-thumb:hover, .dropdown__menu--search-filter::-webkit-scrollbar-thumb:hover, .dropdown__menu--chart-filter::-webkit-scrollbar-thumb:hover {
  background-color: rgb(15, 144, 233);
}

.block-scroll::-webkit-scrollbar {
  height: 4px;
}
.block-scroll::-webkit-scrollbar-track {
  background-color: rgba(41, 53, 83, 0.3);
  border-radius: 2px;
}
.block-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(41, 53, 83);
  border-radius: 2px;
}
.block-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(15, 144, 233);
}
.block-scroll::-webkit-scrollbar-button:end:decrement {
  width: calc((100vw - 1300px) / 2);
  display: block;
  background: transparent;
}
.block-scroll::-webkit-scrollbar-button:start:increment {
  display: block;
  background: transparent;
}

.header {
  background-color: rgb(41, 53, 83);
}
.header__container {
  padding: 10px 17px;
  display: flex;
  justify-content: space-between;
}
.header__links {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__item {
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  cursor: pointer;
}
.header__user-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.collapse {
  border: 1px solid rgba(41, 53, 83, 0.25);
  border-top: none;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.collapseC__toggle {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
  width: 100%;
  min-height: 40px;
  margin-top: 10px;
  padding: 9.5px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(41, 53, 83, 0.25);
  border-radius: 4px;
  box-shadow: inherit;
  color: rgb(41, 53, 83);
  cursor: pointer;
}
.collapseC__toggle-title {
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 53, 83);
  display: flex;
  align-items: center;
  gap: 10px;
}
.collapseC__icon-filter {
  display: flex;
  align-items: center;
}
.collapseC__icon-arrow {
  transition: transform 0.3s;
}
.collapseC__menu {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.not-collapsed.collapseC__toggle {
  border-bottom: none !important;
  border-radius: 4px 4px 0 0;
}

.not-collapsed .collapseC__icon-arrow {
  transform: rotate(180deg);
}

.not-collapsed .dropdown--chart-time {
  display: flex;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
  padding: 0;
}

.dropdown-item:hover,
.dropdown-item:active {
  color: inherit;
  background-color: inherit;
}

.btn-group-vertical > .btn:hover,
.btn-group > .btn:hover {
  z-index: 1001;
}

.dropdown {
  position: relative;
  width: 100%;
  min-height: 30px;
  display: flex;
  flex-direction: column;
}
.dropdown--icon {
  min-height: 5px;
}
.dropdown--chart-time {
  width: 150px;
  min-height: auto;
  margin-left: 10px;
  padding: 0;
  display: none;
}
.dropdown__toggle {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
  width: 100%;
  height: 100%;
  padding: 1px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgba(41, 53, 83, 0.25) !important;
  border-radius: 4px;
  box-shadow: inherit !important;
  color: rgb(41, 53, 83) !important;
  cursor: pointer;
}
.dropdown__toggle--filte-type {
  width: 110px;
}
.dropdown__toggle--count-log {
  min-width: 90px;
  font-weight: 400;
}
.dropdown__toggle--icon {
  width: auto;
  padding: 0;
  font-size: 0px;
  line-height: 0;
  background-color: inherit !important;
  border: none !important;
}
.dropdown__toggle--chart-time {
  padding: 0;
  border: none !important;
  font-weight: 400;
}
.dropdown__toggle-title {
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 53, 83);
  display: flex;
  gap: 10px;
}
.dropdown__toggle-title--count-log {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
}
.dropdown__toggle-title--chart-time {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
}
.dropdown__toggle-select {
  font-weight: 400;
  font-size: 12px;
  color: rgb(41, 53, 83);
  color: rgba(61, 61, 75, 0.6) !important;
  margin-top: 2px;
}
.dropdown__menu {
  min-width: 100%;
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
}
.dropdown__menu--chart-filter {
  width: 130px;
  height: 126px;
  border: none;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
.dropdown__menu--icon {
  z-index: 1001;
  margin-top: 14px !important;
  border: none;
}
.dropdown__menu--chart-time {
  z-index: 1001;
  border: none !important;
  border-radius: 0 0 4px 4px;
}
.dropdown__menu--search-filter {
  z-index: 1001;
  width: 275px;
  height: 126px;
  border: none;
  overflow-y: scroll;
}
.dropdown__item {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
  padding: 8px 12px;
  cursor: pointer;
}
.dropdown__item--chart-filter {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
  padding: 0px;
  cursor: default;
}
@media (hover: hover) {
  .dropdown__item--chart-filter:hover {
    font-weight: 700;
    font-size: 14px;
    color: rgb(41, 53, 83);
    background-color: rgb(223, 239, 250);
  }
}
.dropdown__item--chart-time {
  padding-top: 10px;
  padding-bottom: 10px;
}
.dropdown__item--search-filter {
  padding: 0;
}
@media (hover: hover) {
  .dropdown__item:hover {
    color: rgb(41, 53, 83);
    background-color: rgb(223, 239, 250);
  }
}
.dropdown__item-check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 17px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgb(139, 139, 147);
  cursor: pointer;
  overflow: hidden;
}
.dropdown__item-check::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  background-color: rgb(15, 144, 233);
  background-image: url("../img/icon/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
.dropdown__item-check:checked {
  border: none;
}
.dropdown__item-check:checked::after {
  width: 24px;
  height: 24px;
}
.dropdown__item-check:disabled {
  border: 1px solid rgb(41, 53, 83);
  opacity: 0.3;
}
.dropdown__item-label {
  padding: 9px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .dropdown__item-label:hover {
    font-weight: 700;
    font-size: 14px;
    color: rgb(41, 53, 83);
    background-color: rgb(223, 239, 250);
  }
}
.dropdown__icon-arrow {
  transition: transform 0.3s;
}
.dropdown__icon-filter {
  display: flex;
  align-items: center;
}

.dropdown__item--chart .dropdown-item:hover {
  background-color: inherit;
  cursor: default;
}

.show .dropdown__icon-arrow {
  transform: rotate(180deg);
}

.dropdown--chart-time .dropdown__icon-arrow {
  transform: rotate(0deg);
}

.dropdown--chart-time.show .dropdown__icon-arrow {
  transform: rotate(180deg);
}

.pagination {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.pagination__list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.pagination__next {
  transform: rotate(180deg);
}
.pagination__icon-arrow {
  cursor: pointer;
}
@media (hover: hover) {
  .pagination__icon-arrow:hover svg path {
    fill: rgb(15, 144, 233);
  }
}
.pagination__icon-serach--disabled {
  display: none;
}
.pagination__icon-serach--activ {
  display: flex;
}
.pagination__ellipsis {
  cursor: default;
}
.pagination__item {
  font-weight: 700;
  font-size: 16px;
  color: rgb(41, 53, 83);
  position: relative;
  cursor: pointer;
}
.pagination__item--activ {
  padding: 9px 15px;
  display: flex;
  gap: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 17px;
}
@media (hover: hover) {
  .pagination__item:hover {
    color: rgb(15, 144, 233);
  }
  .pagination__item:hover svg path {
    fill: rgb(15, 144, 233);
  }
}
.pagination__search {
  position: absolute;
  top: -2px;
  left: 50%;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -100%);
}
.pagination__search--disabled {
  display: none;
}
.pagination__search--activ {
  display: flex;
}
.pagination__input {
  padding: 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: none;
  border-radius: 4px;
}
.pagination__input:focus {
  outline: none;
}
.pagination__block {
  width: 20px;
  height: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 50% 100%);
  clip-path: polygon(0% 0%, 100% 0, 50% 100%);
}

.btn-slider {
  position: relative;
  width: 186px;
  padding: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(41, 53, 83, 0.25);
  border-radius: 5px;
}
.btn-slider__btn {
  position: relative;
  z-index: 2;
  padding: 5px 0;
  border: none;
  background: none;
  color: rgb(52, 152, 219);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}
.btn-slider__btn--active {
  color: #fff;
}
.btn-slider__slider {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: calc(50% - 2px);
  height: 25px;
  border-radius: 4px;
  background-color: rgb(52, 152, 219);
  transition: left 0.5s ease;
}

.download-add-user {
  width: 100%;
  margin: 15px 0;
  display: flex;
}
.download-add-user__button {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
  width: 618px;
  margin: 0 auto;
  padding: 4.5px;
  border: 1px solid rgba(41, 53, 83, 0.25);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.count-log {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 17px;
}
.count-log__title {
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 53, 83);
}

.datetime {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid rgba(41, 53, 83, 0.25);
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #ffffff;
}
.datetime svg {
  margin-right: 10px;
}
.datetime::before {
  content: "";
  position: absolute;
  right: 69px;
  transform: translateX(-50%);
  width: 1px;
  height: 60%;
  background-color: rgba(41, 53, 83, 0.25);
  pointer-events: none;
}
.datetime__input {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
  -webkit-appearance: none;
  -moz-appearance: nones;
  appearance: none;
  border: none;
  outline: none;
}
.datetime__input::-webkit-inner-spin-button, .datetime__input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.badgeС {
  font-weight: 400;
  font-size: 16px;
  color: rgb(41, 53, 83);
  padding: 6px 12px;
  text-align: center;
  border-radius: 8px;
}
.badgeС--agent {
  color: #7e78f8;
  background-color: rgb(236, 235, 254);
}
.badgeС--client {
  color: rgb(15, 144, 233);
  background-color: rgb(226, 244, 255);
}

.tableC__column .dragging {
  opacity: 0.5;
}

.tableC__column .resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: ew-resize;
  z-index: 1;
}

.block-scroll {
  width: calc((100vw - 1300px) / 2 + 1300px - 24px);
  padding-right: calc((100vw - 1300px + 17px) / 2);
  display: block;
  overflow-x: auto;
}

.tableC {
  position: relative;
  margin-top: 15px;
  box-sizing: content-box;
  border-collapse: separate;
  border-spacing: 0 6px;
}
.tableC__fixed {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.tableC--user {
  width: 100%;
}
.tableC__column {
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 53, 83);
  position: relative;
  height: 36px;
  padding: 0 6px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: visible;
}
.tableC__column:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  height: 18px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}
.tableC__column--no-border::after {
  width: 0px;
}
.tableC__column--filterCell {
  min-width: 0px;
  padding: 0;
  display: flex;
  align-items: center;
}
.tableC__column-cell {
  padding: 4px;
  display: inline-flex;
  align-items: center;
  gap: 11px;
  border-radius: 4px;
  cursor: pointer;
}
@media (hover: hover) {
  .tableC__column-cell:hover {
    background-color: rgb(222, 222, 228);
  }
  .tableC__column-cell:hover .tableC__icon-pin {
    display: flex;
  }
  .tableC__column-cell svg:hover path {
    fill: rgb(15, 144, 233);
  }
}
.tableC__line {
  position: relative;
  height: 36px;
}
@media (hover: hover) {
  .tableC__line:hover {
    background-color: rgb(222, 222, 228);
  }
}
.tableC__line--hover {
  background-color: rgb(222, 222, 228) !important;
}
.tableC__line--log {
  cursor: pointer;
}
.tableC__line--date {
  font-weight: 400;
  font-size: 14px;
  color: rgba(61, 61, 75, 0.6);
}
.tableC__line--badge {
  padding: 2px 16.5px;
}
.tableC__line--warning {
  background-color: rgb(255, 241, 220);
}
.tableC__line--error {
  background-color: rgb(255, 230, 230);
}
.tableC__line-cell {
  padding: 0 10px;
  min-width: 130px;
  height: 36px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tableC__line-cell--status {
  min-width: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
  padding: 0;
}
.tableC__line-cell--status svg {
  transform: rotate(-90deg);
}
.tableC__line-cell--activ {
  background-color: rgb(15, 144, 233);
}
.tableC__line-cell--warning {
  background-color: rgb(255, 173, 14);
}
.tableC__line-cell--error {
  background-color: rgb(242, 20, 17);
}
.tableC__line-cell--domain-info {
  max-width: 695px;
}
.tableC__status {
  width: 6px;
  height: 36px;
  border-radius: 3px;
}
.tableC__border {
  position: relative;
  overflow: visible;
}
.tableC__border::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 42px;
  background-color: rgba(0, 0, 0, 0.2);
}
.tableC__icon-pin, .tableC__icon-search {
  display: flex;
}
.tableC__icon-pin--disabled {
  display: none;
}
.tableC__icon-arrow {
  margin: 0;
}
.tableC__line {
  position: relative;
  height: 36px;
}

.search-filter {
  min-width: 275px;
  height: 180px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
}
.search-filter--disabled {
  display: none;
}
.search-filter--last {
  right: 12px;
  left: unset;
}
.search-filter--chart {
  min-width: 156px;
  height: 168px;
}
.search-filter__input-wrapper {
  position: relative;
  padding: 12px;
}
.search-filter__icon-search {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  display: flex;
  cursor: pointer;
}
@media (hover: hover) {
  .search-filter__icon-search:hover path {
    fill: rgb(15, 144, 233);
  }
}
.search-filter__input {
  font-weight: 400;
  font-size: 14px;
  color: rgba(61, 61, 75, 0.6);
  width: 100%;
  height: 30px;
  padding: 8px 25px 8px 12px;
}
.search-filter__input::before {
  position: absolute;
  content: url(../img/icon/search.svg);
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.search-filter__input:focus {
  outline: none;
}
.search-filter__menu {
  overflow-y: scroll;
}
.search-filter__item {
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 53, 83);
  padding: 9px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media (hover: hover) {
  .search-filter__item:hover {
    font-weight: 700;
    font-size: 14px;
    color: rgb(41, 53, 83);
    background-color: rgb(223, 239, 250);
  }
}
.search-filter__item-check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 17px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgb(139, 139, 147);
  overflow: hidden;
}
.search-filter__item-check::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  background-color: rgb(15, 144, 233);
  background-image: url("../img/icon/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
.search-filter__item-check:checked {
  border: none;
}
.search-filter__item-check:checked::after {
  width: 24px;
  height: 24px;
}
.search-filter__item-check:disabled {
  border: 1px solid rgb(41, 53, 83);
  opacity: 0.3;
}

.alert {
  margin-left: -12px;
  padding: 9.5px 12px;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 12px;
  border-radius: 4px;
}
.alert__date {
  color: rgba(61, 61, 75, 0.6);
}
.alert__message {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.alert__message span {
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 53, 83);
}
.alert--error {
  background-color: rgb(255, 230, 230);
}
.alert--error span {
  color: rgb(183, 12, 10);
}
.alert--warning {
  background-color: rgb(255, 241, 220);
}
.alert--warning span {
  color: rgb(247, 136, 32);
}

.log-message {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.log-message__date {
  color: rgba(61, 61, 75, 0.6);
}
.log-message__block {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 12px;
}
.log-message__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.log-message__text span {
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 53, 83);
}

.modal {
  padding: 63px 47px !important;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.modal-dialog {
  max-width: 100%;
  margin: 0 !important;
}

.modal-body {
  padding: 0;
}

.modal-window-log {
  position: relative;
  width: 100%;
  max-height: 642px;
  display: grid;
  grid-template-columns: 220px 1fr;
}
.modal-window-log--disabled {
  display: none;
}
.modal-window-log__close {
  position: absolute;
  top: 14px;
  right: 18px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  background-color: rgb(49, 49, 49);
  cursor: pointer;
}
.modal-window-log__l-side {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(41, 53, 83);
}
.modal-window-log__r-side {
  max-height: 642px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow-y: auto;
}

.log-status {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.log-status__date {
  color: rgba(255, 255, 255, 0.4);
}
.log-status__badge {
  width: 96px;
  padding: 1.5px 33px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  line-height: 17px;
  text-align: center;
  background-color: rgb(15, 144, 233);
}
.log-status__badge--warning {
  background-color: rgb(255, 173, 14);
}
.log-status__badge--error {
  background-color: rgb(242, 20, 17);
}
.log-status__details {
  font-weight: 400;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.log-status__id {
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.log-status__message {
  color: rgb(255, 255, 255);
}
.log-status__time {
  color: rgb(15, 144, 233);
}

.info-user {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.info-user__title {
  color: rgb(255, 255, 255);
  margin-bottom: 1px;
}
.info-user__text {
  color: rgb(15, 144, 233);
  text-decoration: underline;
}
.info-user__text--no-active {
  color: #fff;
  text-decoration: none;
}
.info-user__block {
  display: flex;
  gap: 8px;
}
.info-user__btn-page {
  height: 16px;
  padding: 4px 10px;
  display: flex;
}

.legend-chart {
  display: flex;
  gap: 24px;
}
.legend-chart__block {
  display: flex;
  gap: 8px;
}
.legend-chart__color {
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
.legend-chart__color--danger {
  background-color: rgb(255, 73, 88);
}
.legend-chart__color--normal {
  background-color: rgb(15, 144, 233);
}
.legend-chart__color--warning {
  background-color: rgb(255, 173, 14);
}

.add-user {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.add-user__title {
  margin-bottom: 30px;
}
.add-user__container {
  width: 833px;
  margin-top: 35px;
}
.add-user__group {
  display: grid;
  grid-template-columns: 108px 1fr;
  align-items: center;
  margin-bottom: 20px;
}
.add-user__label {
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 53, 83);
}
.add-user__input {
  height: 30px;
  padding: 0px 10px;
}
.add-user__container-btn {
  display: flex;
  justify-content: flex-end;
}
.add-user__btn {
  width: 108px;
}

.log {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  display: flex;
}

.log-info {
  display: flex;
  gap: 22px;
  padding: 12px 20px;
  background-color: rgb(223, 228, 242);
  border-radius: 4px;
}
.log-info__name {
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 53, 83);
}
.log-info__space {
  margin-left: 7px;
  margin-right: 7px;
}

.log-table-settings {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.log-table-settings__l-side {
  display: flex;
  gap: 16px;
}
.log-table-settings__btn {
  padding: 6.5px 35.5px !important;
}
.log-table-settings__reset {
  font-weight: 700;
  font-size: 14px;
  color: rgb(41, 53, 83);
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.log-table-settings__reset svg {
  transition: transform 0.8s ease;
}
@media (hover: hover) {
  .log-table-settings__reset:hover {
    color: rgb(15, 144, 233);
  }
  .log-table-settings__reset:hover svg {
    transform: rotate(360deg);
  }
  .log-table-settings__reset:hover svg path {
    fill: rgb(15, 144, 233);
  }
}

.admin {
  padding: 35px 17px;
}
.admin__title {
  margin-bottom: 25px;
}

.admin-table-settings {
  display: flex;
  justify-content: space-between;
}
.admin-table-settings__r-side {
  display: flex;
  gap: 30px;
}
.admin-table-settings__search {
  display: flex;
  align-items: center;
  gap: 14px;
}
.admin-table-settings__search-input {
  min-width: 200px;
  height: 30px;
  padding: 8px 9px;
}/*# sourceMappingURL=styles.css.map */