@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
header {
  background-color: #293553;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 17px;
}

.navbar__links {
  display: flex;
  gap: 32px;
}
.navbar__links li {
  cursor: pointer;
}
.navbar__links li a {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: none;
  border: none;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 30px;
}
.user-info p {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

h4 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #293553;
}

.button {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  height: 30px;
  padding: 0 12px;
  background-color: #0f90e9; /* Основной цвет */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (hover: hover) {
  .button:hover {
    background-color: #0d7dc9;
    transition: background-color 0.3s ease;
  }
}

.log-info {
  display: flex;
  gap: 22px;
  padding: 12px 20px;
  background-color: #dfe4f2;
  border-radius: 4px;
}
.log-info p {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #293553;
}
.log-info p span {
  margin-left: 7px;
}

.dropdown,
.filter-type,
.countLog-dropdown {
  position: relative;
  width: 100%;
  margin-top: 8px;
  display: inline-block;
}

.dropdown__button,
.filter-type__button,
.countLog-dropdown__button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid rgba(41, 53, 83, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.dropdown__button-ttile,
.filter-type__title,
.filter-type__select {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #293553;
  display: flex;
  gap: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.open .icon-arrow {
  transform: rotate(180deg);
}

.dropdown__content {
  width: 100%;
  max-height: 0;
  display: block;
  opacity: 0;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.filter-type-content,
.countLog-dropdown__content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 0;
  display: block;
  opacity: 0;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.dropdown__content a,
.filter-type-content a {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #293553;
  display: block;
  padding: 10px 15px;
}

.dropdown__content a:hover,
.filter-type-content a:hover,
.countLog-dropdown__content a:hover {
  background-color: #dfeffa;
}

.open .dropdown__content,
.open .filter-type-content,
.open .countLog-dropdown__content {
  opacity: 1;
  max-height: 500px;
}

.countLog {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 17px;
}
.countLog p {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #293553;
}

.countLog-dropdown {
  width: auto;
  height: 100%;
  margin-top: 0;
}
.countLog-dropdown__button {
  padding: 4px 11px;
  display: flex;
  gap: 8px;
}
.countLog-dropdown__title, .countLog-dropdown__content a {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #293553;
}
.countLog-dropdown__content a {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.settingsTable {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  gap: 16px;
}

.filter-type {
  margin-top: 0;
  width: 112px;
}
.filter-type__button {
  padding: 5px 12px;
  justify-content: flex-start;
  gap: 8px;
}
.filter-type__select {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(61, 61, 75, 0.6);
  margin-right: 14px;
}

.filter-datetime {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid rgba(41, 53, 83, 0.25);
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #ffffff;
}

.filter-datetime svg {
  margin-right: 10px;
}

.filter-datetime::before {
  content: "";
  position: absolute;
  right: 69px;
  transform: translateX(-50%);
  width: 1px;
  height: 60%;
  background-color: rgba(41, 53, 83, 0.25);
  pointer-events: none;
}

.filter-datetime__input {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #293553;
  -webkit-appearance: none;
  -moz-appearance: nones;
  appearance: none;
  border: none;
  outline: none;
}

.filter-datetime__input::-webkit-inner-spin-button,
.filter-datetime__input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.filter__find {
  padding: 6.5px 35.5px !important;
}

.filter__reset {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #293553;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.filter__reset svg {
  transition: transform 0.8s ease;
}
@media (hover: hover) {
  .filter__reset:hover {
    color: #0f90e9;
  }
  .filter__reset:hover svg {
    transform: rotate(360deg);
  }
  .filter__reset:hover svg path {
    fill: #0f90e9;
  }
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.icon-pin--disabled {
  display: none !important;
}

.icon-pin,
.icon-search {
  display: flex;
}

.icon-arrow {
  margin: 0;
}

.log {
  position: relative;
  box-sizing: content-box;
  margin-top: 15px;
  padding-right: 3px;
}
.log::-webkit-scrollbar {
  height: 4px;
}
.log::-webkit-scrollbar-track {
  background-color: rgba(41, 53, 83, 0.3);
  border-radius: 2px;
}
.log::-webkit-scrollbar-thumb {
  background-color: #293553;
  border-radius: 2px;
}
.log::-webkit-scrollbar-thumb:hover {
  background-color: #0f90e9;
}

table {
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0 6px;
}

tbody tr {
  position: relative;
  height: 36px;
}

.log tbody tr {
  cursor: pointer;
}
@media (hover: hover) {
  .log tbody tr:hover {
    background-color: #dedee4;
  }
}

th {
  position: relative;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #293553;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
th .headerCell {
  min-width: 59px;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  gap: 11px;
  border-radius: 4px;
  cursor: pointer;
}
@media (hover: hover) {
  th .headerCell svg:hover path {
    fill: #0f90e9;
  }
  th .headerCell:hover {
    background-color: #dedee4;
  }
  th .headerCell:hover .icon-pin {
    display: flex !important;
  }
}

.log th:nth-child(1),
.log th:nth-child(2) {
  border: none;
}

.log td:nth-child(2),
.log th:nth-child(2) {
  position: relative;
  overflow: visible;
}

.log td:nth-child(2)::after,
.log th:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: -6px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.log tr:last-child td:nth-child(2) {
  overflow: hidden;
}

th,
td {
  height: 36px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
  padding: 0 6px;
}

td {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #293553;
  padding: 0 10px;
  overflow: hidden;
}

.filterCell {
  padding: 0;
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
  padding: 0;
}
.status svg {
  transform: rotate(-90deg);
}

.lineTable--warning {
  background-color: #fff1dc;
}

.lineTable--error {
  background-color: #ffe6e6;
}

.status__activ,
.status__warning,
.status__error {
  width: 6px;
  height: 36px;
  border-radius: 3px;
}

.status__activ {
  background-color: #0f90e9;
}

.status__warning {
  background-color: #ffad0e;
}

.status__error {
  background-color: #f21411;
}

.lineTable__date {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(61, 61, 75, 0.6);
}

.badge {
  padding: 2px 16.5px;
}

.badge__agent,
.badge__client {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 6px 12px;
  text-align: center;
  border-radius: 8px;
}

.badge__agent {
  color: #7e78f8;
  background-color: #ecebfe;
}

.badge__client {
  color: #0f90e9;
  background-color: #e2f4ff;
}

.lineTable__message {
  max-width: 193px;
}

.lineTable__email {
  max-width: 167px;
}

.modalWindowSearch--disabled {
  display: none !important;
}

.modalWindowSearch {
  position: absolute;
  z-index: 10;
  top: 36px;
  left: 12px;
  min-width: 275px;
  height: 180px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
}
.modalWindowSearch__list {
  overflow-y: scroll;
}
.modalWindowSearch__list::-webkit-scrollbar {
  width: 4px;
}
.modalWindowSearch__list::-webkit-scrollbar-track {
  background-color: rgba(41, 53, 83, 0.3);
  border-radius: 2px;
}
.modalWindowSearch__list::-webkit-scrollbar-thumb {
  background-color: #293553;
  border-radius: 2px;
}
.modalWindowSearch__list::-webkit-scrollbar-thumb:hover {
  background-color: #0f90e9;
}
.modalWindowSearch__input {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(61, 61, 75, 0.6);
  width: 100%;
  height: 30px;
  padding: 8px 25px 8px 12px;
  border: 1px solid rgba(41, 53, 83, 0.25);
  border-radius: 4px;
}
.modalWindowSearch__input::before {
  position: absolute;
  content: url(../img/icon/search.svg);
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.modalWindowSearch__input:focus {
  outline: none;
}
.modalWindowSearch label {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #293553;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modalWindowSearch label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 17px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #8b8b93;
  overflow: hidden;
}
.modalWindowSearch label input::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  background-color: #0f90e9;
  background-image: url("../img/icon/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
.modalWindowSearch label input:checked {
  border: none;
}
.modalWindowSearch label input:checked::after {
  width: 24px;
  height: 24px;
}
.modalWindowSearch label input:disabled {
  border: 1px solid #293553;
  opacity: 0.3;
}
@media (hover: hover) {
  .modalWindowSearch label:hover {
    background-color: #dfeffa;
  }
}

.modalWindowSearch-ipClient {
  right: 12px; /* Позиционирование справа */
  left: unset;
}

.input-wrapper {
  position: relative;
  padding: 12px;
}
.input-wrapper .icon-search {
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  display: flex;
  cursor: pointer;
}
@media (hover: hover) {
  .input-wrapper .icon-search:hover path {
    fill: #0f90e9;
  }
}

.modalWindowLog--disabled {
  display: none;
}

.modalWindowLog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding: 63px 47px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.modalWindowLog .closeModalWindow {
  position: absolute;
  top: 14px;
  right: 18px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 12px;
  background-color: #313131;
  cursor: pointer;
}
.modalWindowLog__main {
  position: relative;
  width: 100%;
  max-height: 642px;
  display: grid;
  grid-template-columns: 220px 1fr;
}
.modalWindowLog__left {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #293553;
}
.modalWindowLog__left .sectionStatus {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modalWindowLog__left .sectionStatus__date {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}
.modalWindowLog__left .sectionStatus__status {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 96px;
  padding: 1.5px 33px;
  border-radius: 10px;
  color: #fff;
  line-height: 17px;
  text-align: center;
}
.modalWindowLog__left .sectionStatus__status--activ {
  background-color: #0f90e9;
}
.modalWindowLog__left .sectionStatus__status--warning {
  background-color: #ffad0e;
}
.modalWindowLog__left .sectionStatus__status--error {
  background-color: #f21411;
}
.modalWindowLog__left .sectionStatus__log {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.modalWindowLog__left .sectionStatus__log h4 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.modalWindowLog__left .sectionStatus__log span {
  color: #0f90e9;
}
.modalWindowLog__left .sectionData {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.modalWindowLog__left .sectionData h4 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  margin-bottom: 1px;
}
.modalWindowLog__left .sectionData p {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0f90e9;
  text-decoration: underline;
}
.modalWindowLog__left .sectionData__site div {
  display: flex;
  gap: 8px;
}
.modalWindowLog__left .sectionData__page {
  height: 16px;
  padding: 4px 10px;
  display: flex;
}
.modalWindowLog__left .sectionData__user p, .modalWindowLog__left .sectionData__typeObject p, .modalWindowLog__left .sectionData__source p {
  color: #fff;
  text-decoration: none;
}
.modalWindowLog__right {
  max-height: 642px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  overflow-y: auto;
}
.modalWindowLog__right::-webkit-scrollbar {
  width: 4px;
}
.modalWindowLog__right::-webkit-scrollbar-track {
  background-color: rgba(41, 53, 83, 0.3);
  border-radius: 2px;
}
.modalWindowLog__right::-webkit-scrollbar-thumb {
  background-color: #293553;
  border-radius: 2px;
}
.modalWindowLog__right::-webkit-scrollbar-thumb:hover {
  background-color: #0f90e9;
}
.modalWindowLog__right .sectionMessage {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modalWindowLog__right .sectionMessage__answer {
  display: flex;
  gap: 12px;
}
.modalWindowLog__right .sectionMessage__answer__date {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(61, 61, 75, 0.6);
}
.modalWindowLog__right .sectionMessage__answer__message {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #293553;
  max-width: 490px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modalWindowLog__right .sectionMessage__answer__message span {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #293553;
}
.modalWindowLog__right .sectionMessage__answer__xml {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #293553;
  font-family: monospace;
  white-space: pre-wrap;
  overflow-x: auto;
}
.modalWindowLog__right .sectionMessageStatus {
  margin-left: -12px;
  padding: 9.5px 12px;
  display: flex;
  gap: 12px;
  border-radius: 4px;
}
.modalWindowLog__right .sectionMessageStatus--error {
  background-color: #ffe6e6;
}
.modalWindowLog__right .sectionMessageStatus__message {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #293553;
  max-width: 490px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modalWindowLog__right .sectionMessageStatus__message span {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #293553;
  color: #b70c0a;
}

.footer {
  width: 100%;
  display: flex;
  margin: 15px 0;
}

.footer__addLog {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #293553;
  width: 618px;
  margin: 0 auto;
  padding: 4.5px;
  border: 1px solid #c9ccd4;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.userTable {
  box-sizing: content-box;
  margin-top: 15px;
  padding-right: 3px;
  overflow-x: auto;
}
.userTable::-webkit-scrollbar {
  height: 4px;
}
.userTable::-webkit-scrollbar-track {
  background-color: rgba(41, 53, 83, 0.3);
  border-radius: 2px;
}
.userTable::-webkit-scrollbar-thumb {
  background-color: #293553;
  border-radius: 2px;
}
.userTable::-webkit-scrollbar-thumb:hover {
  background-color: #0f90e9;
}

.admin {
  padding: 35px 17px;
}
.admin__h4 {
  margin-bottom: 25px;
}

.adminSettings {
  display: flex;
  justify-content: space-between;
}
.adminSettings .block {
  display: flex;
  gap: 30px;
}
.adminSettings__search {
  display: flex;
  align-items: center;
  gap: 14px;
}
.adminSettings__search p {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #293553;
}
.adminSettings__search__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  min-width: 200px;
  height: 30px;
  padding: 8px 9px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(41, 53, 83, 0.25);
  overflow: hidden;
}
.adminSettings__search__input:focus {
  outline: none;
}
.adminSettings__search__input::-moz-placeholder {
  color: rgba(41, 53, 83, 0.25);
  opacity: 1;
}
.adminSettings__search__input::placeholder {
  color: rgba(41, 53, 83, 0.25);
}

.userTable {
  width: 100%;
}

.userTable__domain__info {
  max-width: 695px;
  overflow: hidden;
}

.button__search {
  display: flex;
  align-items: center;
}

.button__delete {
  background-color: #f21411 !important;
  transition: background-color 0.3s ease;
}
@media (hover: hover) {
  .button__delete:hover {
    background-color: #850a08 !important;
    transition: background-color 0.3s ease;
  }
}

.pagination {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  align-items: center;
  gap: 16px;
}
.page__icon {
  cursor: pointer;
}
@media (hover: hover) {
  .page__icon:hover svg path {
    fill: #0f90e9;
  }
}
.page__item {
  cursor: pointer;
}
@media (hover: hover) {
  .page__item:hover {
    color: #0f90e9;
  }
  .page__item:hover svg path {
    fill: #0f90e9;
  }
}
.page__next {
  transform: rotate(180deg);
}
.page__item--activ {
  padding: 9px 15px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #fff;
  border-radius: 17px;
}
.page__item--activ span {
  display: flex;
}
.page li {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #293553;
}
.page__ellipsis {
  cursor: default;
}

.addUser {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.addUser h4 {
  margin-bottom: 30px;
}

.form-container {
  width: 833px;
  margin-top: 35px;
}

.form-container__button {
  display: flex;
  justify-content: flex-end;
}
.form-container__button .button {
  width: 108px;
}

.form-group {
  display: grid;
  grid-template-columns: 108px 1fr;
  align-items: center;
  margin-bottom: 20px;
}
.form-group label {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #293553;
}
.form-group input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  height: 30px;
  padding: 9px 10px;
  flex: 1;
  background: #fff;
  border-radius: 4px;
  border: 1px solid rgba(41, 53, 83, 0.25);
  overflow: hidden;
}
.form-group input:focus {
  outline: none;
}
.form-group input::-moz-placeholder {
  color: rgba(41, 53, 83, 0.25);
  opacity: 1;
}
.form-group input::placeholder {
  color: rgba(41, 53, 83, 0.25);
}

.admin-role {
  position: relative;
  width: 186px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addUser__button {
  position: relative;
  z-index: 2;
  padding: 5px 0;
  border: none;
  background: none;
  color: #3498db;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.addUser__button--active {
  color: #fff;
}

.slider {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 4px;
  background-color: #3498db;
  transition: left 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  background-color: #f4f4f5;
  overflow-x: hidden;
}

body {
  font-family: "Proxima Nova", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.container-main {
  padding: 13px 17px;
}

.noScroll {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}/*# sourceMappingURL=styles.css.map */