.add-user {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-bottom: 30px;
  }

  &__container {
    width: 833px;
    margin-top: 35px;
  }

  &__group {
    display: grid;
    grid-template-columns: 108px 1fr;
    align-items: center;

    margin-bottom: 20px;
  }
  &__label {
    @include fonts(700);
  }

  &__input {
    height: 30px;
    padding: 0px 10px;
  }
  &__container-btn {
    display: flex;
    justify-content: flex-end;
  }
  &__btn {
    width: 108px;
  }
}
